body {
    margin: 0;
}

.container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    height: 100vh;
    /*flex-wrap: wrap;*/
    /* flex-direction: row-reverse; default row, van még column-reversed és row-reversed*/
    /*flex-wrap: wrap;
    wrap érdekli hogy az elemeknek mi van beállítva egyébként widthnek*/
    /*reverse fordítva cseréli
    align-items: center;
    */
    /*justify-content: flex-end; végére zárja az elemeket*/
    /*justify-content: space-around; középre elosztva rendezi      */
    /*justify-content: flex-start;   */
    justify-content: space-between;
    align-items: center;
    /*középre helyezi vertikálisan*/
    align-items: stretch;
    /**/
}

.col {
    width: 100px;
    background: lightcoral;
    padding: 15px;
    box-sizing: border-box
}